version: "3.9"

services:
  web:
    build: .
    container_name: booksstore_web
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - sqlite_volume:/app/db

volumes:
  sqlite_volume:
