version: "3.9"

services:
  web:
    build: .
    container_name: booksstore_web
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - sqlite_volume:/app/db

volumes:
  static_volume:
  media_volume:
  sqlite_volume:
